.game-content { background: #9ECC97; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin: 0 auto; max-width: 540px; position: relative; }

.game-content p { font-family: 'Press Start 2P', cursive; text-transform: uppercase; }

.game-content canvas { display: block; border: 1px solid; height: 500px; margin: 0 auto; }

.game-content__header--text { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.game-content__main--text { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; font-size: 30px; height: 100%; position: absolute; width: 100%; }

.game-content__main--text .small-text { font-size: 10px; }

.game-content__footer { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 0 20px; }

#contentMainText { display: none; }
