.game-content {
  background: #9ECC97;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 540px;
  position: relative;

  p {
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
  }

  canvas{
    display: block;
    border: 1px solid;
    height: 500px;
    margin: 0 auto;
  }

  &__header {
    &--text {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }

  &__main {
    &--text {
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 30px;
      height: 100%;
      position: absolute;
      width: 100%;

      .small-text {
        font-size: 10px;
      }

    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }


}

#contentMainText {
  display: none;
}
